@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: #F6F6F6;
}
.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px
}
.cabecalho__menu__link{
    font-family: 'Monteserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
}
.principal{
    padding: 5% 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.destaque{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}
.paragrafo{
    font-family: 'Montserrat', sans-serif;
}
.paragrafo_destaque{
    color: #22D4FD;
}
.rodape{
    padding: 23.64px;
    background-color: #22D4FD;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: black;
}